.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2ch;
  align-items: center;
  background-color: #3b1f88;
  margin: 0;
  padding: 0;
}
.container .loginForm {
  height: 400px;
  width: 600px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4ch;
  z-index: 1;
  flex-direction: column;
  background-color: white;
}
.container h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.container p {
  font-size: 13pt;
  display: flex;
  color: whitesmoke;
}
.container p span {
  color: white;
  width: max-content;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.4ch;
  cursor: pointer;
  transition: transform 400ms;
  overflow: hidden;
}
.container p span:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  background: none;
}
.container p span .hr {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  border-top: 3px solid white;
  transform: translate3d(-110%, 0, 0);
  transition: transform 0.5s;
}
.container p span:hover .hr {
  transform: translate3d(0, 0, 0);
}
.container .loginForm input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3b1f88;
  color: black;
  font-size: 12pt;
  outline: none;
  width: 350px;
  background-color: white;
}
.container .loginForm input:focus,
.container.loginForm input:hover {
  box-shadow: 0 0 13px rgb(94, 74, 180);
  border: 2px solid #3b1f88;
}
.container .loginForm button {
  padding: 10px;
  border: none;
  color: white;
  background-color: #3b1f88;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
}
.container .loginForm button:hover {
  box-shadow: 0 0 15px rgb(80, 63, 158);
  border: 2px solid #3b1f88;
  background: white;
  color: #3b1f88;
}
.container .loginForm p {
  color: black;
  width: 450px;
  text-align: center;
  font-size: 13pt;
  font-weight: 500;
}
.loginForm .toggleForm {
  color: #3b1f88;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.loginForm .toggleForm .toggleFormHR {
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
  gap: 0.5ch;
  flex-direction: column;
  border-top: 3px solid #3b1f88;
  transform: translate3d(-110%, 0, 0);
  transition: transform 0.5s;
}
.loginForm .toggleForm:hover .toggleFormHR {
  transform: translate3d(0, 0, 0);
}
.loginForm .formIconHeader {
  display: flex;
  flex-direction: column;
}
.loginForm .backIcon {
  cursor: pointer;
  color: #3b1f88;
  font-size: 25pt;
  padding: 5px;
  border-radius: 4px;
  transform: translate3d(-40px, -10px, 0);
}
.backIcon:hover {
  background-color: #3b1f88;
  color: white;
}
