.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2ch;
  align-items: center;
  background-color: #3b1f88;
  margin: 0;
  padding: 0;
}
.container .loginForm {
  height: 400px;
  width: 600px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4ch;
  z-index: 1;
  flex-direction: column;
  background-color: white;
}
.container h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.container p {
  font-size: 13pt;
  display: flex;
  color: whitesmoke;
}
.container p span {
  color: white;
  width: max-content;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.4ch;
  cursor: pointer;
  transition: transform 400ms;
  overflow: hidden;
}
.container p span:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  background: none;
}
.container p span .hr {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  border-top: 3px solid white;
  transform: translate3d(-110%, 0, 0);
  transition: transform 0.5s;
}
.container p span:hover .hr {
  transform: translate3d(0, 0, 0);
}
.container .loginForm input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3b1f88;
  color: black;
  font-size: 12pt;
  outline: none;
  width: 350px;
  background-color: white;
}
.container .loginForm input:focus,
.container.loginForm input:hover {
  box-shadow: 0 0 13px rgb(94, 74, 180);
  border: 2px solid #3b1f88;
}
.container .loginForm button {
  text-shadow: 0 0 8px white;
  padding: 10px;
  border: none;
  color: white;
  background-color: #3b1f88;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
}
.container .loginForm button:hover {
  box-shadow: 0 0 15px rgb(80, 63, 158);
  border: 2px solid #3b1f88;
  background: white;
  color: #3b1f88;
}
.loginForm .forgotPass {
  color: #3b1f88;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
}
.forgotPass .forgotPassHR {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5ch;
  flex-direction: column;
  border-top: 3px solid #3b1f88;
  transform: translate3d(-110%, 0, 0);
  transition: transform 0.5s;
}
.forgotPass:hover .forgotPassHR {
  transform: translate3d(0, 0, 0);
}
/* *For Loader */
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(24, 21, 21, 0.7);
  z-index: 999;
  display: flex;
  backdrop-filter: blur(2px);
}
.loader h3 {
  color: white;
  font-size: 25pt;
  position: absolute;
  left: 44%;
  top: 52%;
  letter-spacing: 1px;
}
.loader::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: #f3f3f3;
  border-top-color: #3b1f88;
  border-width: 10px;
  border-radius: 50%;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite ease;
}

/* /For Small Screeens */

@media screen and (max-width: 991px) {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2ch;
    align-items: center;
    background-color: #3b1f88;
    margin: 0;
    padding: 0;
  }
  .container .loginForm {
    height: 400px;
    width: 290px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4ch;
    z-index: 1;
    flex-direction: column;
    background-color: white;
  }
  .container h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .container p {
    font-size: 10pt;
    display: flex;
    color: whitesmoke;
  }
  .container p span {
    color: white;
    width: max-content;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.4ch;
    cursor: pointer;
    transition: transform 400ms;
    overflow: hidden;
  }
  .container p span:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
    background: none;
  }
  .container p span .hr {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
    border-top: 3px solid white;
    transform: translate3d(-110%, 0, 0);
    transition: transform 0.5s;
  }
  .container p span:hover .hr {
    transform: translate3d(0, 0, 0);
  }
  .container .loginForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3b1f88;
    color: black;
    font-size: 12pt;
    outline: none;
    width: 240px;
    background-color: white;
  }
  .container .loginForm input:focus,
  .container.loginForm input:hover {
    box-shadow: 0 0 10px rgb(94, 74, 180);
    border: 2px solid #3b1f88;
  }
  .container .loginForm button {
    padding: 10px;
    border: none;
    color: white;
    background-color: #3b1f88;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 8px 4px 15px #725cad;
  }
  .container .loginForm button:hover {
    box-shadow: 0 0 15px rgb(80, 63, 158);
    border: 2px solid #3b1f88;
    background: white;
    color: #3b1f88;
  }
  .loginForm .forgotPass {
    color: #3b1f88;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    font-size: 10pt;
  }
  .forgotPass .forgotPassHR {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5ch;
    flex-direction: column;
    border-top: 3px solid #3b1f88;
    transform: translate3d(-110%, 0, 0);
    transition: transform 0.5s;
  }
  .forgotPass:hover .forgotPassHR {
    transform: translate3d(0, 0, 0);
  }
  /* *For Loader */
  .loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(24, 21, 21, 0.7);
    z-index: 999;
    display: flex;
    backdrop-filter: blur(2px);
  }
  .loader h3 {
    color: white;
    font-size: 20pt;
    position: absolute;
    left: 29%;
    top: 52%;
    letter-spacing: 1px;
  }
  .loader::after {
    content: "";
    display: block;
    position: absolute;
    left: 40%;
    top: 40%;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: #f3f3f3;
    border-top-color: #3b1f88;
    border-width: 7px;
    border-radius: 50%;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite ease;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
