/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90.5vh;
  background-color: rgb(252, 242, 223);
}
.container .profileBox {
  height: max-content;
  width: 650px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  z-index: 999;
  flex-direction: column;
  gap: 4ch;
  flex-wrap: wrap;
  position: relative;
  color: black;
  box-shadow: 0 0 12px rgba(85, 87, 88, 0.918);
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  border: 2px solid gray;
  padding-bottom: 50px;
}
.profileBox .title {
  display: flex;
  gap: 1ch;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #f4f4fb;
  text-align: left;
  padding: 13px;
  font-size: 11pt;
  color: rgb(71, 52, 196);
  fill: rgb(71, 52, 196);
}
.profileBox .title svg {
  height: 18px;
  width: 18px;
  font-weight: 700;
  cursor: pointer;
}
.profileBox .userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileBox .userDetails ul {
  display: flex;
  flex-direction: column;
  gap: 5ch;
  list-style-type: none;
}
.profileBox .userDetails ul li {
  display: flex;
  gap: 3ch;
  text-align: left;
}
.userDetails ul li p {
  width: 200px;
  color: #696d9a;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
}
.userDetails ul li p span {
  text-align: left;
  font-weight: bold;
}
.userDetails ul li h4 {
  width: 200px;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
} */

/* *New Style */
/* / */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90.5vh;
  background-color: rgb(252, 242, 223);
}
.container .profileBox {
  height: max-content;
  width: 650px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  /* z-index: 999; */
  flex-direction: column;
  gap: 4ch;
  flex-wrap: wrap;
  position: relative;
  color: black;
  box-shadow: 0 0 12px rgba(85, 87, 88, 0.918);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid gray;
  padding-bottom: 50px;
}
/* .profileBox .title {
  display: flex;
  gap: 1ch;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #f4f4fb;
  text-align: left;
  padding: 13px;
  font-size: 11pt;
  color: rgb(71, 52, 196);
  fill: rgb(71, 52, 196);
} */
/* .profileBox .title svg {
  height: 18px;
  width: 18px;
  font-weight: 700;
  cursor: pointer;
} */
.profileBox .userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileBox .userDetails ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 5ch;
}
.profileBox .userDetails ul li {
  display: flex;
  gap: 3ch;
  text-align: left;
}
.userDetails ul li p {
  width: 200px;
  color: #696d9a;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
}
.userDetails ul li p span {
  text-align: left;
  font-weight: bold;
}
.userDetails ul li h4 {
  width: 200px;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}
.title {
  height: 70px;
  background-color: #e8e8fc;
  border-bottom: 2px solid rgb(213, 217, 250);
}
.title .i {
  display: flex;
  position: absolute;
  top: 10px;
  left: -15px;
  width: 280px;
  height: 50px;
  background-color: rgb(6, 95, 184);
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgb(99, 96, 96);
  border-bottom-left-radius: 0;
  z-index: 20;
  cursor: pointer;
}
.title .i::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 30px;
  background-color: rgb(1, 73, 145);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}
.title .i::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 15px;
  background-color: rgb(6, 95, 184);
  z-index: 1;
}
.title .i p svg {
  height: 24px;
  width: 24px;
  fill: white;
  position: absolute;
  left: -35px;
}
.title .i p {
  color: white;
  position: absolute;
  top: 12px;
  left: 80px;
  font-weight: 500;
}
